.profile__name {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin-block-start: 0;
    margin-block-end: 0;
    min-width: 295px;
    margin-right: 16px;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 767px) {
    .profile__name {
        font-size: 27px;
        min-width: 201px;
        margin-right: 6px;
        text-align: center;
    }
}