.popup__button-save {
    outline: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #000;
    max-width: 368px;
    height: 50px;
    width: 100%;
    margin:  18px auto 0;
    padding: 0;
    box-shadow: none;
    border: 0;

}


.popup__button-save:hover {
    opacity: 0.8;
    cursor: pointer;
}



@media (max-width: 767px) {
    .popup__button-save {
      font-size: 14px;
      line-height: 17px;
      margin-top: 16px;
      height: 40px;
       
  }
} 
