.popup__container {
    background: #fff;
    width: 100%;
    max-width: 430px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .popup__container {
        max-width: 240px;
  }
} 
