.header {
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #545454;
}

@media (max-width: 767px) {
    .header {
        margin-bottom: 38px;
        padding-inline-start: 0;
        padding-bottom: 32px;
    }
}
